<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="practice.mybatis.mapper.EenumMapper">
    <select id="getEenumList" resultType="EenumDto">
        SELECT * FROM EnumTable
    </select>


    <insert id="addEenum" >
            INSERT INTO EnumTable (eenum) VALUES (#{eenum})
    </insert>
    

</mapper>
