<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="practice.mybatis.mapper.EenumMapper">
    <select id="getEenumList" resultType="EenumDto">
        SELECT * FROM EnumTable
    </select>


    <insert id="addEenum" >
            INSERT INTO EnumTable (eenum, memberid) VALUES (#{eenum}, #{memberId})
    </insert>

    <select id="selectJoin" resultType="map">
        SELECT * FROM EnumTable e JOIN member m ON m.id = e.memberid;
    </select>

    <select id="search" resultType="map" parameterType="map">
        SELECT * FROM member WHERE 1=1
        <if test="member.id!=null">
            AND id = #{member.id}
        </if>
        <if test="member.name!=null and member.name!=''">
            AND name Like '%${member.name}%'
        </if>
        <if test="member.age!=null">
            AND age = #{member.age}
        </if>
        <if test="member.email!=null and member.email!=''">
            AND email Like '%${member.email}%'
        </if>
    </select>

</mapper>
